.perfil-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.perfil-card {
  background: #ffffff;
  width: 450px;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  text-align: center;
}

/* FOTO DE PERFIL */
.perfil-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #dcd6ff;
}

.perfil-titulo {
  font-size: 30px;
  font-weight: 700;
  color: #5b4b8a;
  margin-bottom: 20px;
}

.perfil-info {
  background: #f5f2ff;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 25px;
  text-align: left;
  border-left: 5px solid #6a5acd;
}

.perfil-info p {
  margin: 6px 0;
  font-size: 17px;
}

.perfil-inputs label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
}

.perfil-inputs input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  margin-top: 5px;
  font-size: 15px;
  background: #fafafa;
}

.perfil-btn {
  margin-top: 25px;
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  color: white;
  background: #6a5acd;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.perfil-btn:hover {
  background: #5848c2;
}

.loading, .error {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}
