/* Register.css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0288d1, #f7d1a1);
    height: 100vh;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.register-box {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    width: 360px;
    text-align: center;
    animation: fadeIn 1s ease;
    margin-top: 100px;
}

/* TÍTULO */
.register-box h2 {
    margin-bottom: 30px;
    color: #0288d1;
    font-weight: 700;
    font-size: 24px;
}

/* INPUTS */
.register-input-group {
    margin-bottom: 20px;
}

.register-input-group input {
    width: 100%;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    outline: none;
    transition: all 0.3s ease;
    font-size: 14px;
    background: #fafafa;
}

.register-input-group input:focus {
    border-color: #0288d1;
    box-shadow: 0 0 12px rgba(2,136,209,0.3);
    background: #fff;
}

/* BOTÓN */
.register-btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #0288d1, #f7a1a1);
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.register-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* TEXTO INFERIOR */
.register-text {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.register-link {
    color: #0288d1;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

.register-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #0288d1;
    transition: 0.3s;
}

.register-link:hover::after {
    width: 100%;
}

.password-group {
  position: relative;
}

.password-group input {
  padding-right: 42px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.eye-icon:hover {
  color: #0288d1;
}


/* ANIMACIÓN */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
